<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <h1>Shopify Backend Challenge</h1>
  <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <h3> Upload an Image</h3>

  <div class="d-flex justify-content-center">
    <form method="POST" id="upload-item-form" enctype="multipart/form-data" action="/newimage">
      <div class="row">
        <div col-6></div>
        <div col-6 class="file-input">
          <input type=file name="file" class="form-control" id="image-field">
        </div>
      </div>
      <div class="row">
        <input type=text name="image_name" id="name-field">Image Name
      </div>
      <div class="row">
        <input type=text name="image_description" id="description-field">Description
      </div>
      <button type="submit" id="submit-new-item">Upload</button>
      <br> 
    </form>
  </div>
  <div id="search">
    <label for="search-input">Search:</label>
    <input aria-label="Search" autocomplete="on" id="search-input" name="search-input" placeholder="Search" speech type="search">
    <!-- <svg viewbox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
      <path d="M0 0h24v24H0z" fill="none">
    </svg> -->
  </div>
  <h3> Image Library: </h3>
  <div class="card-columns" id="image-library"></div>

  <script src="/static/js/uploadPhoto.js"></script>
  <scrip src="/static/js/imageLibrary.js"></scrip>
</body>
</html>